/build/
/NetBeansProjects/Vect1/nbproject/private/
/NetBeansProjects/Vect2/nbproject/private/
/NetBeansProjects/Vect2/build/
/NetBeansProjects/Vect/nbproject/private/
/NetBeansProjects/Vect3/nbproject/private/